:root, [data-bs-theme=light] {
  --bs-secondary: #000000;
  --bs-secondary-rgb: 0,0,0;
  --bs-secondary-text-emphasis: #000000;
  --bs-secondary-bg-subtle: #CCCCCC;
  --bs-secondary-border-subtle: #999999;
  --bs-link-hover-color: #1d2049;
  --bs-link-hover-color-rgb: 207,212,197;
}

